nav {
  background-color: rgb(26, 122, 122);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("Tetris.jpg");
}

a {
  text-decoration: none;
  color: aquamarine;
}